<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
</head>

<body>
    <h1>
        Nome: <%= nome %>
    </h1>
    <h2>
        Idade: <%= idade %>
    </h2>
    <h2>
        Profissão: <%= profissao %>
    </h2>
    <br>


<h2>lazer:</h2>
<ul>
    <% Object.values(lazer).forEach(item => { %>
        <li>
            <%= item %>
        </li>
    <% }) %>
</ul>
</html>